<%-include("partials/header")%>
<h1>About</h1>
<%=demoAboutContent %>
<br>
<a href="https://codeplayer.salmankhan.tech/code2.html"  target="_blank"class="btn btn-primary">Click here</a>
<%-include("partials/footer")%>
